.battle-window {
  margin: 0 auto;
  height: 98vh;
  position: relative;
  overflow: hidden;
}

.player-image {
  z-index: -1;
  height: 320px;
  width: 320px;
  object-fit: cover;
  position: absolute;
  left: 10px;
  bottom: 133px;
}

.enemy-image {
  z-index: -2;
  height: 160px;
  width: 160px;
  object-fit: cover;
  transform: scaleX(-1) translateY(-80px);
  position: absolute;
  right: 0;
  top: 230px;
}

.show-battle {
  background-color: #404040;
  width: 334px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: .3);
  height: fit-content;
}

.hp-display {
  width: 106px;
  text-align: center;
}

.player-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.enemy-container {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.action-text {
  position: relative;
  border-radius: 50px;
  text-align: center;
  padding: 8px 0px;
  background-color: white;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: .3);

  p {
    width: 100%;
    margin: 0;
    text-align: start;
    padding: 0 95px 0 20px;
  }

  button {
    border: none;
    position: absolute;
    right: 0;
    width: 100%;
    transition: .3s;

    &:focus {
      width: auto;
      transition: .3s;
    }
  }

  &:hover .action-battle {
    width: auto;
    transition: .3s;
  }
}

.player-display-dmg {
  opacity: 0;
  position: absolute;
  transform: translateX(50%);
  bottom: 337px;
  left:  128px;
  color: $red;
  font-weight: bold;
}

.enemy-display-dmg {
  opacity: 0;
  position: absolute;
  transform: translateX(50%);
  top: 150px;
  right: 107px;
  color: $red;
  font-weight: bold;
}

// player attack and miss
@keyframes hero-attack {
  0%   { left: 10px;}
  5%  { left: 40px;}
  50%  { left: 10px;}
  75% { left: -40px;}
  100% { left: 10px;}
}

// enemy attack and miss
@keyframes enemy-attack {
  0%   { right: 0;}
  25%   { right: -10px;}
  50%  { right: 0;}
  55%  { right: 30px;}
  100% { right: 0;}
}

// player attack and gets hurt
@keyframes hero-attack-hit {
  0%   { left: 10px;}
  5%   { left: 40px;}
  50%  { left: 10px;}
  60%  { opacity: 1; filter: invert(0%);}
  70%  { opacity: 0; left: 8px;}
  80%  { opacity: 1; left: 12px; filter: invert(70%);}
  90%  { opacity: 0;}
  100% { opacity: 1;}
}

// enemy attack and gets hurt
@keyframes enemy-attack-hit {
  0%   { opacity: 1; filter: invert(0%);}
  10%  { opacity: 0; right: -2px;}
  20%  { opacity: 1;  right: 2px; filter: invert(70%);}
  30%  { opacity: 0;}
  40%  { opacity: 1;}
  50%  { right: 0;}
  55%  { right: 30px;}
  100% { right: 0;}
}

@keyframes player-hurt {
  0% { opacity: 0;}
  100% { opacity: 1; bottom: 347px;}
}

@keyframes enemy-hurt {
  0% { opacity: 0;}
  100% { opacity: 1; top: 140px;}
}

// just the player attacks
@keyframes only-hero-attack {
  0%   { left: 10px;}
  10%   { left: 40px;}
  100%  { left: 10px;}
}

// damage animation
// @keyframes dmg {
//   0%   { opacity: 1;}
//   25%  { opacity: 0;}
//   50%   { opacity: 1;}
//   75%  { opacity: 0;}
//   100% { opacity: 1;}
// }

.battle-canvas {
  flex-grow: 1;
}

//only hero attack
.atk-player {
  .player-image {
    animation-name: only-hero-attack;
    animation-duration: 0.6s;
  }

  .enemy-display-dmg {
    animation-name: enemy-hurt;
    animation-delay: .2s;
    animation-duration: 1s;
  }
}

// both attack and miss
.atk-animation {
  .player-image {
    animation-name: hero-attack;
    animation-duration: 1.2s;
  }
  .enemy-image {
    animation-name: enemy-attack;
    animation-duration: 1.2s;
  }
  .player-display-dmg {
    animation-name: player-hurt;
    animation-delay: .8s;
    animation-duration: 1s;
  }

  .enemy-display-dmg {
    animation-name: enemy-hurt;
    animation-delay: .2s;
    animation-duration: 1s;
  }
}

//both attack and player gets hurt
.atk-player-hit-animation {
  .player-image {
    animation-name: hero-attack-hit;
    animation-duration: 1.2s;
  }
  .enemy-image {
    animation-name: enemy-attack;
    animation-duration: 1.2s;
  }
  .player-display-dmg {
    animation-name: player-hurt;
    animation-delay: .8s;
    animation-duration: 1s;
  }

  .enemy-display-dmg {
    animation-name: enemy-hurt;
    animation-delay: .2s;
    animation-duration: 1s;
  }
}

//both attack and enemy gets hurt
.atk-enemy-hit-animation {
  .player-image {
    animation-name: hero-attack;
    animation-duration: 1.2s;
  }
  .enemy-image {
    animation-name: enemy-attack-hit;
    animation-duration: 1.2s;
  }

  .player-display-dmg {
    animation-name: player-hurt;
    animation-delay: .8s;
    animation-duration: 1s;
  }

  .enemy-display-dmg {
    animation-name: enemy-hurt;
    animation-delay: .2s;
    animation-duration: 1s;
  }
}

//both attack and both get hurt
.atk-hit-animation {
  .player-image {
    animation-name: hero-attack-hit;
    animation-duration: 1.2s;
  }
  .enemy-image {
    animation-name: enemy-attack-hit;
    animation-duration: 1.2s;
  }
  .player-display-dmg {
    animation-name: player-hurt;
    animation-delay: .8s;
    animation-duration: 1s;
  }
  .enemy-display-dmg {
    animation-name: enemy-hurt;
    animation-delay: .2s;
    animation-duration: 1s;
  }
}

.floor-arena {
  z-index: -100;
  position: absolute;
  right: 50%;
  top: 57%;
  border-radius: 2000px;
  background: radial-gradient(lightgrey, #8c8377);
  width: 62vh;
  height: 62vh;
  transform: translate(50%, -50%) scaleX(4.5) skew(-12deg, 7deg);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .show-battle {
    flex-grow:1;
  }

  .player-image {
    height: 270px;
    width:270px;
    bottom: 220px;
    left: -20px;
  }

  .player-display-dmg {
    bottom: 390px;
    left: 80px;
  }

  @keyframes player-hurt {
    0% { opacity: 0;}
    100% { opacity: 1; bottom: 400px;}
  }

  @keyframes hero-attack-hit {
    0%   { left: -20px;}
    5%   { left: 10px;}
    50%  { left: -20px;}
    60%  { opacity: 1; filter: invert(0%);}
    70%  { opacity: 0; left: -18px;}
    80%  { opacity: 1; left: -22px; filter: invert(70%);}
    90%  { opacity: 0;}
    100% { opacity: 1;}
  }
}
