// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";

.bg-index {
  background: linear-gradient(0deg, rgba(231, 210, 185, 0) 0%, rgb(140, 131, 119) 100%);
}

.title-index {
  background: rgb(140, 131, 119);
  margin: 0;
}
