<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-banner-width">
    <div class="modal-content-cty">
      <div class="modal-body-cty">
        <img src="<%= player.hp > 0 ? player.banner : enemy.banner %>" alt="banner" class="modal-banner">
        <h5 class='modal-message' id="staticBackdropLabel"><strong><%= player.hp > 0 ? 'Victory!' : 'Game Over' %></strong></h5>
        <div class="modal-btn-position">
          <button class="stat-btn-modal"><i class="fa-solid fa-house"></i></button>
          <p class="stat-btn-modal" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
