.modal-content-cty {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  // background-color: rgb(230, 230, 230);
  background-clip: padding-box;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba($color: #000000, $alpha: .3);
}

.modal-header-cty {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 1rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal-footer-cty {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.modal-body-cty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-banner {
  z-index: -1;
  position: absolute;
  width: 350px;
}

.modal-message {
  position: absolute;
  color: white;
}

.modal-banner-width {
  --bs-modal-width: 160px;
}

.modal-btn-position {
  position: absolute;
  top: 49px;
}
