.navbar-cty {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  background: white;
}

.navbar-cty .navbar-collapse {
  flex-grow: 0;
}

.navbar-cty .navbar-brand img {
  width: 40px;
}
